CRIME RATE PREDICTION USING MACHINE LEARNING

*   List item
*   List item

In [ ]:
import pandas as pd

In [ ]:
ds =pd.read_csv("rk_dataset1.csv")

In [ ]:
ds

       STATE/UT     DISTRICT  YEAR  MURDER  RAPE  THEFT    pre
0   MAHARASHTRA  NAVI MUMBAI  2001      34    17    893  minor
1   MAHARASHTRA  NAVI MUMBAI  2002      48    24    890  minor
2   MAHARASHTRA  NAVI MUMBAI  2003      50    16    782  major
3   MAHARASHTRA  NAVI MUMBAI  2004      61    17   1086  major
4   MAHARASHTRA  NAVI MUMBAI  2005      51    19   1121  major
5   MAHARASHTRA  NAVI MUMBAI  2006      59    18   1226  major
6   MAHARASHTRA  NAVI MUMBAI  2007      45    17   1704  minor
7   MAHARASHTRA  NAVI MUMBAI  2008      61    12   1722  major
8   MAHARASHTRA  NAVI MUMBAI  2009      45    19   1774  minor
9   MAHARASHTRA  NAVI MUMBAI  2010      57    27   2040  major
10  MAHARASHTRA  NAVI MUMBAI  2011      70    38   1935  major
11  MAHARASHTRA  NAVI MUMBAI  2012      57    36   1513  major

In [ ]:
ds.head(5)

      STATE/UT     DISTRICT  YEAR  MURDER  RAPE  THEFT    pre
0  MAHARASHTRA  NAVI MUMBAI  2001      34    17    893  minor
1  MAHARASHTRA  NAVI MUMBAI  2002      48    24    890  minor
2  MAHARASHTRA  NAVI MUMBAI  2003      50    16    782  major
3  MAHARASHTRA  NAVI MUMBAI  2004      61    17   1086  major
4  MAHARASHTRA  NAVI MUMBAI  2005      51    19   1121  major

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATE/UT  12 non-null     object
 1   DISTRICT  12 non-null     object
 2   YEAR      12 non-null     int64
 3   MURDER    12 non-null     int64
 4   RAPE      12 non-null     int64
 5   THEFT     12 non-null     int64
 6   pre       12 non-null     object
dtypes: int64(4), object(3)
memory usage: 800.0+ bytes

In [ ]:
X = ds.drop(["STATE/UT","DISTRICT","MURDER","RAPE","THEFT","pre"], axis = 1)

In [ ]:
X

    YEAR
0   2001
1   2002
2   2003
3   2004
4   2005
5   2006
6   2007
7   2008
8   2009
9   2010
10  2011
11  2012

In [ ]:
Y=ds["MURDER"]

In [ ]:
Y

0     34
1     48
2     50
3     61
4     51
5     59
6     45
7     61
8     45
9     57
10    70
11    57
Name: MURDER, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape

(9, 1)

In [ ]:
X_test.shape

(3, 1)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train,Y_train)

LinearRegression()

In [ ]:
Y_predict = lr.predict(X_test)

In [ ]:
print(Y_test.values)

[70 57 34]

In [ ]:
print(Y_predict)

[54.38128492 54.09217877 51.49022346]

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
print("Mean Squared Error:",mean_squared_error(Y_test,Y_predict))

Mean Squared Error: 186.10253399290568

In [ ]:
print("Weights:",lr.coef_)

Weights: [0.28910615]

In [ ]:
print("Intercept:",lr.intercept_)

Intercept: -527.0111731843574

In [ ]:
import pickle

In [ ]:
file=open("Murder.pkl","wb")

In [ ]:
pickle.dump(lr,file)

In [ ]:
file.close()

In [ ]:
import pickle

In [ ]:
file = open("Murder.pkl","rb")

In [ ]:
clf = pickle.load(file)

In [ ]:
file.close()

In [ ]:
Year = float(input("Enter thye year that you want to calculate: "))

Enter thye year that you want to calculate: 2014

In [ ]:
input_features = [[Year]]

In [ ]:
Murder_predict=clf.predict(input_features)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
print("Murder:",Murder_predict)

Murder: [55.24860335]

[58.1396648]